<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom p-5 bg-dark">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-light text-decoration-none">
    <span class="fs-4">Header</span>
  </a>

  <ul class="nav">
    <li class="nav-item"><a href="#" class="nav-link text-light">Home</a></li>
    <li class="nav-item"><a href="#" class="nav-link text-light">Contact</a></li>
    <li class="nav-item"><a href="#" class="nav-link text-light">About Us</a></li>
  </ul>
</header>

